/* ==========
  Contacts
===========*/

.contacts {
  padding: 100px 0 150px;
}

.contacts-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.contacts-subtitle {
  margin-top: 20px;
  padding: 0 50px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.contacts-form {
  margin: 50px auto 0;
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts-form__input {
  display: inline-block;
  width: 270px;
  height: 60px;
  padding: 18px 20px;
  outline: none;
  border: 1px #0066ff solid;
}

.contacts-form__textarea {
  margin-top: 50px;
  width: 100%;
  height: 290px;
  padding: 28px 20px;
  outline: none;
  border: 1px #0066ff solid;
  resize: none;
}

.contacts-form__input:focus,
.contacts-form__textarea:focus {
  border-color: #151515;
}

.contacts-form__input::placeholder,
.contacts-form__textarea::placeholder {
  color: #151515;
  opacity: 0.5;
}

.contacts-form__btn {
  display: block;
  margin: 50px auto 0;
  padding: 13px 30px;
  min-height: 35px;
  background-color: #151515;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  border: none;
}

.contacts-form__btn:hover {
  background-color: #0066ff;
  transition: 0.3s;
}

/* ==========
    BLOG
===========*/

.blog {
  padding-bottom: 160px;
}

.blog-inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.blog-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.blog-img {
  margin-bottom: 30px;
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.blog-title {
  font-size: 24px;
  font-weight: 700;
  flex-basis: 460px;
}

.blog-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0066ff;
  width: 80px;
  height: 25px;
}

.blog-btn {
  display: block;
  margin: 70px auto 0;
  padding: 13px 30px;
  min-height: 35px;
  background-color: #151515;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  border: none;
}

.blog-btn:hover {
  background-color: #0066ff;
  transition: 0.3s;
}
