*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

html,
body {
  height: 100%;
}

/* ================
      WRAPPER 
=================*/

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* ================
      HEADER 
=================*/

.header {
  background: #151515;
}

.header-main {
  background-color: transparent;
  position: absolute;
  z-index: 10;
  right: 0;
  left: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__menu-list {
  display: flex;
  gap: 35px;
}

.header__menu-link {
  font-weight: 700;
  text-transform: uppercase;
}

/* ================
      MAIN 
=================*/

.main {
  flex-grow: 1;
}

.top {
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
}

.top__title {
  margin: 250px 0 40px;
  font-size: 96px;
  font-weight: 700;
}

.top__btn {
  display: inline-block;
  background: #151515;
  width: 100%;
  max-width: 430px;
  padding: 23px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

/* ================
      SLIDER 
=================*/

.slider {
  width: 100%;
  height: 100vh;
}

.slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider__wrapper::after {
  content: "";
  position: absolute;
  background-color: #151515;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1.5s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__pagination {
  display: flex;
  gap: 30px;
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translate(-50%, -50%);
  z-index: 5;
  height: 6px;
  align-items: center;
}

.slider__notification {
  display: block;
  width: 120px;
  height: 3px;
  background-color: #151515;
}

.slider__notification {
  cursor: pointer;
}

.notification-active {
  background-color: #fff;
  height: 6px;
  transition: background-color 1s;
}

/* ================
    ADVANTAGES
=================*/

.advantages__title {
  font-size: 48px;
  font-weight: 700;
  padding: 150px 0 50px;
  text-align: center;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 270px;
}

.advantages__item-img {
  width: 150px;
  height: 150px;
}

.advantages__item-title {
  font-size: 24px;
  font-weight: 700;
}

/* ================
    LEASING-WORK 
=================*/

.leasing-work {
  width: 615px;
  margin: 0 auto;
}

.leasing-work__title {
  margin-top: 150px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.leasing-work__text {
  margin-top: 50px;
}

.leasing-work__subtitle {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
}

.leasing-work__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
}

.leasing-work__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}

.leasing-work__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 48px;
  font-weight: 700;
  background-color: #0066ff;
  color: #fff;
}

.leasing-work__list-text {
  display: block;
  width: 270px;
}

/* ================
      FOOTER 
=================*/

.footer {
  background: #151515;
  color: #fff;
  padding: 50px 0 32px;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
  padding-top: 20px;
}

.apps {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
}

.footer__copy {
  max-width: 806px;
  text-align: center;
  margin: 0 auto 30px;
}

.footer__copy-text {
  font-size: 12px;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}
